.container{
	display: flex;
	justify-content: center;
	max-width: 80vw;
	background-color: #252525;
	margin: auto;
	border-radius: 30px
}

.left, .right {
	width: 50%;
}
.right{
	display: flex;
	justify-content: center;
	align-items: center;
}

.DotRow{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-block: 20px;
}


.ellipse{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-inline: auto;
	font-size: 28px;

}
.ellipse > *{
	margin-inline: 1px;
	font-weight: bolder;
	color: aliceblue;
}

.left > :nth-child(3) > *{
	font-size: 18px;
	margin-top: 15px;
	margin-bottom: -50px;
}


